@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reenie+Beanie&display=swap');


body {
  overflow-x: hidden;
}

header {
  position: absolute;
  background: transparent;
  width: 100vw;
  top: 0;
  z-index: 1;
  font-family: 'Bebas Neue';
  font-weight: 800;
  font-size: 3rem;
  line-height: 58px;
  letter-spacing: 0.30em;
  color: #FFFFFF;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.hero-section {
  position: relative;
  text-align: center;
  z-index: -2;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 10px;
}


.teacher-name-front, .teacher-name-back {
  position: absolute;
  left: 25%
}

.teacher-name-back {
  z-index: -1;
}

.teacher-name-front h2 {
  color: transparent;
  -webkit-text-stroke: 2px #FFFEFE;
  
}
.teacher-name-front h2, .teacher-name-back h2 {
  /* Text */
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  line-height: 150px;
  margin-top: 25px;
  letter-spacing: 0.2em;
  margin-right: 100px;
}

.teacher-name-front {
  z-index: 2;
}

.teacher-name-back h2 {
  color: white;
}

.gallery-container {
  height: auto;
  background: conic-gradient(from 90deg at 50% 50%, #EC8C69 -64.8deg, #ED6EA0 66.6deg, #EC8C69 295.2deg, #ED6EA0 426.6deg);
  padding: 50px;
  width: 100%;
}

.gallery-container h1 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 20px;
  margin-top: -10px;
}

.gallery-container img {
  transition: transform 500ms ease-out;
  cursor: pointer;
}

.gallery-container img:hover {
  transform: scale(1.1)
}

.class-image img {
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .teacher-name-front h2, .teacher-name-back h2 {
    font-size: 5rem;
    line-height: 100px;
  }
  

  .teacher-name-front, .teacher-name-back {
    top: 25%;
    left: 15%;
  }
}

@media (max-width: 575px) {


  .teacher-name-front h2, .teacher-name-back h2 {
    /* Text */
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.2em;
  }

  .teacher-name-back h2 {
    display: none;
  }

  .hero-section img {
    height: 250px;
    width: 250px;
  }

  .name {
    width: 90%;

  }

  .teacher-name-front, .teacher-name-back {
    position: relative;
  }
}

.message-header {
  /* Our Messages to You */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.12em;
  background: linear-gradient(90deg, #ED6EA0 0%, #EC8C69 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}